<!-- <ActionBar title="Current Challenge" (loaded)="onLoadedActionBar()">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>
<StackLayout>
    <Label class="title" text="The current challenge" horizontalAlignment="center"></Label>
</StackLayout> -->
<ns-action-bar title="Current Challenge" [showBackButton]="false">
    <ActionItem ios.position="right" android.position="actionBar" nsRouterLink="/challenges/replace" pageTransition="slideLeft">
        <Label text="Replace"></Label>
    </ActionItem>
    <ActionItem ios.position="right" android.position="actionBar" nsRouterLink="/challenges/edit" pageTransition="slideLeft">
        <Label text="Edit"></Label>
    </ActionItem>
</ns-action-bar>
<ScrollView>
    <FlexboxLayout class="page">
        <StackLayout>
            <Label class="h1 text-center" text="Take a walk every day"></Label>
            <Label 
                class="body text-center"
                text="Walk for at least 20 minutes on every of the week."
            ></Label>
        </StackLayout>
        <GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
            <Label
                class="text-center"
                width="100%"
                *ngFor="let weekDay of weekDays; let i = index"
                [text]="weekDay"
                row="0"
                [col]="i">
            </Label>
        </GridLayout>
    </FlexboxLayout>
</ScrollView>